@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

.para-primary {
    color: #12132D99;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.round-btn {

    background-color: #12132D08;
    border: 1px solid rgba(3, 7, 18, 0.10);
    border-radius: 50px;
}

.footer-bg {
    background: linear-gradient(180deg, rgba(18, 19, 45, 0.05) 0%, rgba(18, 19, 45, 0.00) 100%);
}

.banner-card-text {
    color: rgba(18, 19, 45, 0.80);
    font-size: 24px;
    font-weight: 500;

}

.retro {
    color: linear-gradient(90deg, #797DFC 0.63%, rgba(121, 125, 252, 0.00) 41%);
}

.section-title {
    color: #12132D;
    font-size: 40px;
    font-weight: 900;

}

.section-description {
    color: rgba(18, 19, 45, 0.60);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.discussion-heading {
    color: rgba(18, 19, 45, 0.80);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;

}

.read-post{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem
}